# Python
__pycache__/
*.pyc

# Conda / virtualenv
.env
.venv
.env.*

# Generated data files
weaviate_data/
data/images/
data
logs/
chroma_data/

# System files
.DS_Store

#k8s secrets
k8s/open-ai-secret.yaml
.pre-commit-config.yaml

#k8s secrets
k8s/open-ai-secret.yaml
