# Python
__pycache__/
*.pyc

# Conda / virtualenv
.env
venv/
.venv
.env.*

# Generated data files
weaviate_data/
data/images/
data
logs/
chroma_data/

# System files
.DS_Store
.pre-commit-config.yaml

/k8s/open-ai-secret.yaml
chroma.sqlite3