# Python
__pycache__/
*.pyc

# Conda / virtualenv
.env
venv/
.venv
.env.*

# Generated data files
weaviate_data/
chroma_data/
data/images/
logs/
chroma_data/

# System files
.DS_Store
.pre-commit-config.yaml

# Deployment files
/k8s/open-ai-secret.yaml
/k8s/chromadb-secret.yaml
chroma.sqlite3